include LICENSE
include MANIFEST.in
include README.rst
recursive-include django_materialize/templates *
recursive-include django_materialize/static *
recursive-include django_materialize/admin/templates *
recursive-include django_materialize/admin/static *
